
<div id="myDIV" class="header">
  <h2>Tasks List</h2>
  <input type="text" id="myInput" placeholder="task...">
  <span onclick="newElement()" class="addBtn">+</span>
</div>

<ul id="myUL">

        {{#each model as |todo|}}

            <li>{{todo.body}} <span id="close">x</span></li>

        {{/each}}

</ul>




